MORALIS_API_ID=
MORALIS_APP_URL=
MORALIS_MASTER_KEY=
WEB3_STORAGE_TOKEN=
CHAIN_ID=1337
ETHEREUM_RPC_URL=http://localhost:8545
POSTGRES_URI=postgresql://api:api@localhost/api
FEE_RECIPIENT_ADDRESS=0x0000000000000000000000000000000000000000
WHITELIST_ALL_TOKENS=false